*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
.DS_Store
Arbitrage Theory in Continuous Time (Oxford Finance) (Tomas Bjork) (Z-Library).pdf
Eserciziario Sgarra.pdf
Macroargomenti di Matematica Finanziaria II.docx
